.agefans-wrapper {
  .video_detail_episode {
    a:visited {
      color: rgb(220, 53, 69) !important;
    }
  }

  .update-info {
    font-size: 12px;
    color: #f8f9fa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .sub-thumbnail-box {
    transition: opacity 0.15s ease;
    opacity: 0;
    position: absolute;
    top: -10px;
    right: calc(100% + 12px);
    width: 200px;
    padding: 8px;
    border-radius: 8px;
    background-color: #282828;
    border: 1px solid #404041;
    box-shadow: 0px 6px 20px 8px rgba(0, 0, 0, 0.45);
    pointer-events: none;
    z-index: 10;
  }
  .text_list_item li:hover .sub-thumbnail-box {
    opacity: 1;
  }
  .sub-thumbnail {
    width: 100%;
    border-radius: 6px;
  }
  .sub-group-day {
    margin-bottom: 4px;
  }
}
