.girigirilove {
  .empty-tip {
    width: 100%;
    padding: 40px 20px 20px;
    text-align: center;
  }

  .update-info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    font-size: 12px;
    margin-top: 4px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .k-day-0 {
    background-color: rgb(232, 93, 188);
  }
  .k-day-1 {
    background-color: rgb(255, 82, 82);
  }
  .k-day-2 {
    background-color: rgb(255, 145, 77);
  }
  .k-day-3 {
    background-color: rgb(255, 212, 61);
  }
  .k-day-4 {
    background-color: rgb(72, 219, 151);
  }
  .k-day-5 {
    background-color: rgb(66, 184, 221);
  }
  .k-day-6 {
    background-color: rgb(141, 104, 232);
  }

  &.widescreen {
    .head,
    .header_nav0,
    .header_nav1,
    .top-back.hoa,
    .fixedGroup {
      visibility: hidden;
      pointer-events: none;
    }
  }
}
